
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000000;
  }
  
  .header-background {
    width: 100%;
    position: relative;
  }
  
  .header-background::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .header-image {
    width: 100%;
    object-fit: cover;
  }
  
  .header-logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .header-logo img {
    max-width: 100%;
    height: auto;
  }
  
  .header-logo p {
    color: white;
    margin-top: 10px;
    font-size: 26px;
    padding-top: 10px;
    font-family: "Inter", sans-serif;
    letter-spacing: 5px;
  }
  /* Media Queries for Responsive Design */
  @media (max-width: 952px) {
    .header-logo {
      top: 48%;
    }
    .header-logo img{
        width: 180px;
    }
    .header-logo p{
       font-size: 19px;
    }
  }
  
  @media (max-width: 850px) {
    .header-logo {
      top: 46%;
    }
  }
  
  @media (max-width: 790px) {
    .header-logo {
      top: 50%;
    }
    .header-logo img {
        width: 100%;
    }
    .header-logo p{
        font-size: 16px;
        padding: 0;
    } 
  }
  
  @media (max-width: 590px) {
    .header-logo {
      top: 50%;
    }
    .header-logo img {
        width: 90%;
    }
    .header-logo p{
        font-size: 14px;
        padding: 0;
    } 
    
  }
  
  @media (max-width: 500px) {
    .header-logo {
      top: 50%;
    }
    .header-logo img {
      width: 70%;
    }
    .header-logo p{
        font-size: 12px;
        padding: 0;
    } 
  }
  
  @media (max-width: 450px) {
    .header-logo {
      top: 53%;
    }
    .header-logo img {
      width: 70%;
    }
  }
  @media (max-width: 350px) {
    .header-logo {
      top: 50%;
    }
    .header-logo img {
      width: 60%;
    }
    .header-logo p{
        font-size: 9px;
        padding: 0;
    }
  }
  